
@{
    ViewBag.Title = "Index";
}
<style>
    body {
        color: white;
        background-image: url('../../Graphics/Blue Deathstar Plans.png');
    }
</style>
<body>
    <h1>Data Structures</h1>

</body>