.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
//*swag2*/
<<<<<<< HEAD

/*this is a test*/
=======
//*swag3*/
//*swag4*/
>>>>>>> 5adc6a1969827606dab4b38918b1331bbf8ee3c4
